html {
  font-size: 22px;
  font-family: secular;
}
*, body {
  margin: 0;
  font-family: secular;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: stretch;
  /* border: 2px rgb(255, 0, 0) solid; */
  /* margin: 0 1rem; */
  /* gap: 11rem; */
  /* min-height: 100vh; */
  height: 100%;
  /* max-height: 100%; */
  overflow: hidden;
  display: block;
}

.App > * {
  margin: 0 auto
}
header {
  background-color: rgb(255, 145, 0);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  border-left: solid 2px  rgb(192, 106, 36);
  border-bottom: solid 2px rgb(192, 106, 36);
  border-right: solid 2px  rgb(192, 106, 36);
  margin-bottom: 2rem;
}
button {
  box-sizing:border-box;
  outline: none;
  border: 0;
  background-color: burlywood;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  /* width: 50%; */
}
button:hover {
  background-color: rgb(253, 207, 174);
  cursor: pointer;
}
button:active {
  background-color: rgb(255, 255, 255);
  outline: 2px rgb(160, 120, 74) solid;
}

.help-btn {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: .3rem;
  border-radius: 0;
}
.help-btn > *:hover {
  cursor: pointer;
  /* background-color: black; */
  transform: rotate(360deg);
  transition: 370ms all ease-in;
}
.help-btn > div {
  /* background-image:url('../public/question.svg') */
}
.guessDisplayContainer {
  /* background-color: rgb(212, 212, 212); */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  margin: 1rem 1rem
}

.guessDisplay {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border: 4px solid #ACAD94; */
  /* background-color: rgb(73, 73, 73); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}
form {
  
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  background-color: #ACAD94; 
  /* margin-top: 2rem; */
  /* border-radius: 6px; */
} 

.userAnswerInput {
  margin: 0 .2rem;
}
.userAnswerInput > input{
  background-color: inherit;
  outline: none;
  border: 0px solid #00000000;
  border-color: #00000000;
  border-bottom: 2px grey solid;
  font-size: 1rem;
  min-width: 1rem;
  text-align: center; 
  color: #373D20;
}

.guess-display-img {
  padding: 1rem 3rem;
  
  width: 100%;
  height: auto;
}
.thisBtn {background-color: cadetblue;
position: relative;}


.btn-transition {
  background-color: blanchedalmond;
}
.btn-transition-enter,.btn-transition-appear {
  opacity: 0;
  transform: scale(0.9);
}

.btn-transition-enter-active, .btn-transition-appear-active {
  opacity: 1;
  transition: all 400ms ease-in;
  transform: scale(1);
} 
.btn-transition-enter-done, .btn-transition-appear-done {
  /* display: none; */
  /* transform: scale(0
  p); */
  opacity: 1;
}

.btn-transition-exit {
  /* opacity: 1; */
}

.btn-transition-exit-active {
  /* opacity: 0; */
  transition: all 30ms;
}
.btn-transition-exit-done {
  display: none;
}


.NextGameBtn {
  background-color: cadetblue;
  position: relative;
}
.NextGameBtnTransition-enter {
  background-color: rgba(165, 42, 42, 1);
  
  
}
.NextGameBtnTransition-enter-active {
  background-color: rgb(183, 201, 25);
  transition: all 400ms;
  top: 20px
}

.NextGameBtnTransition-enter-exit {
  background-color: cadetblue;
  
}

.NextGameBtnTransition-enter-exit-active,.NextGameBtnTransition-enter-done {
  background-color: rgba(165, 42, 42, 1);
  transition: all 400ms;
  
}


@font-face {
  font-family: secular;
  src: url(SecularOne-Regular.ttf);
  font-weight:300;
}