html {
  font-size: 22px;
  font-family: secular;
}
*, body {
  margin: 0;
  font-family: secular;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: stretch; */
  border: 2px rgb(255, 0, 0) solid;
  /* margin: 0 1rem; */
  /* gap: 11rem; */
  height: 100vh;
  max-height: 100vh;
}

.App > * {
  margin: 0 auto
}
header {
  background-color: rgb(255, 145, 0);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  border-left: solid 2px  rgb(192, 106, 36);
  border-bottom: solid 2px rgb(192, 106, 36);
  border-right: solid 2px  rgb(192, 106, 36);
  margin-bottom: 2rem;
}
button {
  box-sizing:border-box;
  outline: none;
  border: 0;
  background-color: burlywood;
  padding: 2rem;
  font-size: 1rem;
  border-radius: 221rem;
  width: 50%;

}
button:hover {
  background-color: rgb(253, 207, 174);
  cursor: pointer;
}
button:active {
  background-color: rgb(255, 255, 255);
  outline: 2px rgb(160, 120, 74) solid;
}

input[type="text"] {
outline: none !important;
border-color: #00000000;
/* padding: 1rem; */
border-bottom: 2px grey solid;
/* border-radius: 1rem; */
font-size: 2rem;

}
.guess-display-img {
  max-width: 100%;
  /* width: 20%; */
}

@font-face {
  font-family: secular;
  src: url(SecularOne-Regular.ttf);
  font-weight:300;
}